@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
}
.container{
  background: #000;
}
.imagenLogo img{
  width: 206px;
  height: 38px;
}
.redes img{
  width: 129px;
  height: 38px;
}
.copyright{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.redes{
  flex-direction: row !important;
}
